* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: rgba(94, 144, 250, 0.467);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30vh;
}

form {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    max-width: 600px;
    border-radius: 10px;
}

form h3 {
    color: rgb(75, 75, 75);
    font-weight: 800;
    margin-bottom: 20px;
}

form input{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
}
form button {
    padding: 15px;
    background: #f95738;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin: 10px;
}